@import url('https://fonts.googleapis.com/css2?family=Vollkorn:ital,wght@0,400..900;1,400..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --button-color: #ff5d27;
    --text-color: rgb(0, 128, 36);
    font-family: 'Vollkorn', serif;
    scroll-behavior: smooth;
}

img {
    display: block;
    width: 100%;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem
}